body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 380px;
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 20px gray;
    text-align: center;
}

h1{
    color: darkblue;
    margin-bottom: 25px;
}

button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    background:darkblue ;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 15px;
}

button:hover{
    background: midnightblue;
}

a{
    color: darkblue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#message,#loginMessage{
    margin: 15px;
    font-size: 14px;
}

#welcomeMessage{
     margin: 20px 0;
    font-size: 18px;

}